{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% for friend in friend_list %}
        <div class="card mb-3">
            <div class="card-body">
                {% if friend.profile_image %}
                    <img src="{{ friend.profile_image.url }}" class="round-img float-start" alt="">
                {% else %}
                    <img src="{% static 'default_images/non_images.jpg' %}" class="round-img float-start" alt="/media/default_images/non_images.jpg">
                {% endif %}
                <h3 class="card-title"><a style="text-decoration: none" href="{% url 'profile' username=friend.username %}">{{ friend.get_full_name }} ({{ friend.username }})</a></h3>
                <p class="text-muted">
                Был в сети {% if friend.last_login %}{{ friend.last_login }}
                {% else %}{{ friend.date_joined }}{% endif %}
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block dop_content %}
    {% include 'friend/_dop_bar/_dop_bar_friend_list.html' %}
{% endblock %}
