{% extends 'base.html' %}

{% block content %}
    <textarea id="chat-log" cols="100" rows="20" class="form-control" readonly></textarea><br/>
    <input id="chat-message-input" type="text" size="100" class="form-control" placeholder="Сообщение..."/><br/>
    <input id="chat-message-submit" type="button" value="Отправить" class="form-control"/>
    <div id="chat-area">

    </div>

<script>
    var roomId = {{ room.pk }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/private_chat/' + roomId + '/');

    chatSocket.onopen = function (event) {
        chatSocket.send(JSON.stringify({
            'command': 'get_chat_messages',
            'page_number': 1,
        }));
    }

    chatSocket.onmessage = function(messages) {
        var data = JSON.parse(messages.data);
        console.log(data)
        if (data['type_messages'] === 1){
            let inData = data['messages'];
            for (let value of inData) {
                let message = value['message'];
                let username = value['username'];
                document.querySelector('#chat-log').value += (username + ':' + ' ' + message + '\n');
            }
        }
        if (data['type_messages'] === 2){
            let inData = data['messages'];
            for (let value of inData){
                let message = value['message'];
                let username = value['username'];
                document.querySelector('#chat-log').value += (username + ':' + ' ' + message + '\n');
            }
        }
    }

    chatSocket.onclose = function(event) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(event) {
        if (event.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(event) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        if (message !== ''){
            chatSocket.send(JSON.stringify({
                'command': 'send_message',
                'message': message,
            }));
        }
        messageInputDom.value = '';
    };


</script>
{% endblock %}

{% block dop_content %}
    Имя комнаты: {{ room_name_json }}
    Количество участников:
    Имена участников:
{% endblock %}
